.header {
  display: flex;
  gap: 8px;
}

.item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;

  margin: 16px 0;
  font-size: 18px;

  &.second {
    color: green;
    font-size: 14px;
  }

  .date {
    cursor: pointer;
    margin-right: 8px;
    color: gray;
    font-size: 12px;

    &.selected {
      color: red;
    }
  }
}
