<div class="header">
  <div class="open-file">
    <button mat-button color="primary" (click)="fileInput0.click()">
      Open srt file 1
    </button>
    <input #fileInput0 type="file" hidden (change)="openFile($event, 0)" />
  </div>

  <div class="open-file">
    <button mat-button color="primary" (click)="fileInput1.click()">
      Open srt file 2
    </button>
    <input #fileInput1 type="file" hidden (change)="openFile($event, 1)" />
  </div>

  <button mat-button color="warn" (click)="clear()">Clear</button>

  <button mat-button color="primary" (click)="goHome()">HomePage</button>
</div>

<div class="content">
  @for (item of srtDataForView; track item.id) {
  <div [id]="item.id" class="item" [class.second]="item.subtitleIndex === 1">
    <span
      class="date"
      [class.selected]="item.id === selectedId"
      (click)="selectItem(item)"
    >
      {{ getFormadedTime(item.timeFromSeconds) }}
    </span>
    <div class="text">
      {{ item.text }}
    </div>
  </div>
  }
</div>
